[access "refs/*"]
	owner = group user/mguizani (mguizani)
[access "refs/for/refs/*"]
	read = group user/mguizani (mguizani)
	push = group user/mguizani (mguizani)
	label-Code-Review = -2..+2 group user/mguizani (mguizani)
	label-Verified = -1..+1 group user/mguizani (mguizani)
	rebase = group user/mguizani (mguizani)
	removeReviewer = group user/mguizani (mguizani)
	submit = group user/mguizani (mguizani)
[access "refs/heads/*"]
	read = group user/mguizani (mguizani)
	create = group user/mguizani (mguizani)
	push = +force group user/mguizani (mguizani)
	pushMerge = group user/mguizani (mguizani)
[access "refs/tags/*"]
	push = +force group user/mguizani (mguizani)
	pushTag = group user/mguizani (mguizani)
	pushSignedTag = group user/mguizani (mguizani)
